<section>
  <h2>Lofi</h2>

  <div class="lofi-cards-container">
    <ul class="lofi-list">
      <li>
        <iframe
          class="lofi-card"
          width="220"
          height="124"
          src="https://www.youtube.com/embed/jfKfPfyJRdk?si=mGETqR567tfdcXzV"
          title="lofi hip hop radio 📚 - beats to relax/study to"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </li>
      <li>
        <iframe
          class="lofi-card"
          width="220"
          height="124"
          src="https://www.youtube.com/embed/NXxVLOGQ2T4"
          title="CAT TV - 1 HOUR VIDEO - Relax with Simon's Cat - Nature - Wildlife - Birdsong - Rain Sounds"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </li>
      <li>
        <iframe
          class="lofi-card"
          width="220"
          height="124"
          src="https://www.youtube.com/embed/EjBdURAwJHI"
          title="Minecraft Soothing Scenes - Relaxing Cherry Grove"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </li>
    </ul>
  </div>
</section>

<!-- width="300"
height="170"

width="200"
height="115"
-->
